<h1>Welcome to the Monsters and Myths Pet Store</h1>
<p>Ever wondered where your friend found that firebreathing chimera, well wonder no more</p>


<div>
    <container>
        <ul>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "About Us", welcome_about_path%></li>
        <li><%= link_to "Contact Us" welcome_contact_path%></li>
        </ul>
    </container>
</div>